fastapi==0.109.0
uvicorn[standard]==0.27.0
sqlalchemy==2.0.48

# We need to salt and hash the password for security
pwdlib[argon2]
pytest==8.0.0
httpx==0.26.0 #Simulate browser requests
pydantic[email]
pylint
kagglehub
uuid
pylint
python-jose
locust
